<nav class="navbar navbar-default header">
    <div class="container-fluid">

        <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="img-responcive" src="img/pree.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><img src="images/home-button.png" alt="">
                            <span class="menuItemText">Home</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="images/church-bell.png" alt="">
                            <span class="menuItemText">Notifications</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><img src="images/bar-chart.png" alt="">
                            <span class="menuItemText">Insights</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle last" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="menuItemText last">Username</span>
                            <img src="images/Layer-4-copy-3.png" alt="" class="headerUserAvatar">
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

        </div>

    </div>
    <!-- /.container-fluid -->
</nav>
