<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header signin_alert_header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Header</h4>
        </div>
        <div class="modal-body">
            <form action="#" method="post">
                <p class="login_error error">Incorrect username / email or password</p>
                    <label for="username">Username / Email:</label>
                    <input class="form-control" autocapitalize="off" type="text" name="username" placeholder="Username / Email"/>
                    <label for="password">Password:</label>
                    <input class="form-control" autocapitalize="off" type="password" name="password" placeholder="Password"/>
                <a href="#" class="btn close_button">Cancel</a>
                <a href="#" class="btn submit_button">Sign in</a>
            </form>
        </div>
      <div class="modal-footer">
          <a class="btn signup_button">Sign Up</a>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
