<div role="main" class="ui-content">
    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <p>{{text}}</p>
        </div>
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <a href="#" class="close_button" data-role="button" data-corners="false" >No</a>
        </div>
        <div class="ui-block-b">
            <a href="#" class="confirmation_button" data-role="button" data-corners="false">Yes</a>
        </div>
    </div>
</div>
