<ul class="panel_header" data-role="listview" data-icon="carat-l">
    <li><a class="back_button"></a></li>
</ul>

<ul class="cmntyex-list_container" data-role="listview"></ul>

{{#if editable}}
    <div class="ui-grid-a cmntyex-editpanel-buttons">
        <div class="ui-block-a">
            <button class="cmntyex-button-cancel" data-corners="false" data-mini="true">Cancel</button>
        </div>
        <div class="ui-block-b">
            <button class="cmntyex-button-done ui-alt-icon ui-nodisc-icon" data-corners="false" data-icon="check" data-mini="true">Done</button>
        </div>
    </div>
{{else}}
    <div class="ui-grid-a cmntyex-editpanel-buttons">
        <div class="ui-block-a">
            <button class="close_button" data-corners="false" data-mini="true">Close</button>
        </div>
        <div class="ui-block-b">
            <button class="ui-alt-icon ui-nodisc-icon cmntyex-button-edit" data-corners="false" data-icon="edit" data-mini="true">Edit</button>
        </div>
    </div>
{{/if}}
