<form action="#">
    <div class="ui-grid-solo">
        <div class="ui-grid-a">
            <select name="select-business" id="cmntyex_select-business" data-corners="false">
                <% domains.each(function (domain) { %>
                    <option value="<%= domain.id %>"><%= domain.get('displayText') %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="ui-grid-solo">
        <a href="#" class="reset_button" data-role="button" data-corners="false">Reset</a>
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <a href="#" class="cancel_button" data-role="button" data-corners="false">Cancel</a>
        </div>
        <div class="ui-block-b">
            <a href="#" class="submit_button" data-role="button" data-corners="false">Submit</a>
        </div>
    </div>
</form>
