<div role="main" class="ui-content">
    <form action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                    <label for="username">Invitation Code:</label>
                    <input type="text" autocapitalize="off" name="code" placeholder="Code" data-corners="false" />
                    <label for="username">Username:</label>
                    <input type="text" autocapitalize="off" name="username" placeholder="Username" data-corners="false" />
                    <label for="email">Email:</label>
                    <input type="text" autocapitalize="off" name="email" placeholder="Email" data-corners="false" />
                    <label for="password">Password:</label>
                    <input type="password" autocapitalize="off" name="password" placeholder="Password" data-corners="false" />
                    <label for="password_confirmation">Password Confirmation:</label>
                    <input type="password" autocapitalize="off" name="password_confirmation" placeholder="Password Confirmation" data-corners="false" />
                    <span>I agree to terms and conditions</span>
                    <input type="checkbox" name="terms" id="simulate-flipswitch" data-role="flipswitch"
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a class="close_button" data-role="button" data-theme="c" data-corners="false">Cancel</a>
            </div>
            <div class="ui-block-b">
                <input type="submit" value="Submit" data-corners="false" />
            </div>
        </div>
    </form>
</div>
