<ul class="panel_header" data-role="listview" data-icon="carat-l">
    <li><a class="close_button">{{title}}</a></li>
</ul>

<img class="cmntyex_legend_image" src="<%= url %>">

<ul class="cmntyex_legend" data-role="listview"  data-icon="false">
    {{#each markers}}
        <li class="cmntyex_legend_item">
            {{marker.item}}
            <img class="cmntyex_legend_icon ui-li-icon" src="{{marker.url}}">
        </li>
    {{/each}}
    <a class="close_button legend_button outside" href="#">close</a>
</ul>

