<div class="signin_alert_header" data-role="header" data-theme="a">
    <h1>Password required</h1>
</div>
<div role="main" class="ui-content">
    <form>
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <p>Please enter your member password</p>
            </div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                <p class="login_error hidden error">Incorrect username / email or password</p>
                    <input autocapitalize="off" type="password" name="password" placeholder="Password" data-corners="false"/>
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#" class="cancel_button" data-role="button" data-corners="false">Cancel</a>
            </div>
            <div class="ui-block-b">
                <input type="submit" value="Submit" class="submit_button" data-corners="false">
            </div>
        </div>
    </form>
</div>
