<div class="panel_header">
    <h2>My Promotions</h2>
    <a href="settings" class="link close-panel-button" data-role="button" data-icon="arrow-l" data-iconpos="notext" ></a>
</div>

<p class="no_items_message hidden">You don't have any promotions</p>

<ul data-role="listview"  data-icon="false">
</ul>
