<div role="main" class="ui-content">
    <form class="new_message_form" action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <textarea autocapitalize="off" class="comntyex-new_review_input" name="messageBody" id="message" placeholder="Write a new message" data-corners="false" />
            </div>
        </div>
        <div class="ui-grid-a">
            <div style="color:#FF0000; display:none;" id="err_text"></div>
            <div class="ui-block-a">
                <a href="#" class="close_button" data-role="button" data-corners="false">Cancel</a>
            </div>
            <div class="ui-block-b">
                <a href="#" class="submit_button" data-role="button" data-corners="false">Send</a>
            </div>
        </div>
    </form>Title
</div>
