<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
<div data-role="header" data-theme="a">
    <h1 class="cmntyex-opening-hours-title">Opening hours</h1>
</div>
<div role="main" class="ui-content">
    <table class="cmntyex-opening_hours">
        {{{oh}}}
    </table>
</div>
 