<ul class="panel_header" data-role="listview" data-icon="carat-l">
    <li><a class="close_button"></a></li>
</ul>
<ul data-role="listview">
    {{#unless user}}
        <li><a class="invitation_button">Enter Invitation Code</a></li>
    {{else}}
        <li><a class="edit_favorites_button" >Edit Favorites</a></li>
        <li><a class="my_messages_button">My Messages</a></li>
    {{/unless}}
    <li><a class="support_button">Support</a></li>
</ul>
