<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
<div role="main" class="ui-content promotion_content">
    <div class="cmntyex_promotion_nopadding">
        <div class="cmntyex_promotion_title">some title</div>
        <div class="cmntyex_options_placeholder cmntyex-polloptions"></div>
        <div class="cmntyex_promotion_image">
            <img style="max-width 100%; max-height: 100%;" src="http://upload.wikimedia.org/wikipedia/commons/2/22/Turkish_Van_Cat.jpg">
        </div>
        <div class="cmntyex_promotion_fineprint">fine print</div>
    </div>
</div>
