<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
<div role="main" class="ui-content promotion_content">
    <div class='promotion_gallery swipe slider'>
        <div class='swipe-wrap'>
            {{# each models}}
            <div class="promotion_placeholder">
                <div class="cmntyex-content_placeholder-dark"></div>
            </div>
            {{/each}}
        </div>
    </div>
    <a class="prev_button">&#x2039;</a>
    <a class="next_button">&#x203a;</a>
</div>
