<% buttons.forEach(function (button) { %>
	<div class="sasl_menu_button sprite <%= button.key %> <%= button.className %>">
		<img src="../../styles/icons/Clear100x100.png">
		<span><%= button.displayText %></span>
	</div>
<% }) %>
<a class="close_button outside" href="#">close</a>
