{{#each buttons}}
    <a href="#" class="sasl_menu_button {{key}}">
        <img width="64" height="64" src="{{buttonURL}}" alt="{{displayText}}">
        <span>{{displayText}}</span>
    </a>
{{/each}}
<a class="close_button outside" href="#">close</a>
