<% buttons.forEach(function (button) { %>
    <a href="#" class="sasl_menu_button <%= button.key %>">
        <img width="64" height="64" src="<%=button.buttonURL%>" alt="<%= button.displayText %>">
        <span><%= button.displayText %></span>
    </a>
<% }) %>
<a class="close_button outside" href="#">close</a>
