<ul class="panel_header" data-role="listview" data-icon="carat-l">
    <li><a class="close_button"></a></li>
</ul>
<ul data-role="listview" data-icon="false" >
    <li><a href="#" class="add_to_favorites_button" data-theme="c" data-mini="true">Add To Favorites</a></li>
    <li><a href="mailto:?body=<%=url%>" class="email_url_button" data-theme="c" data-mini="true">E-mail URL</a></li>
    <li><a href="#" class="copy_url_button" data-theme="c" data-mini="true">Copy URL</a></li>
</ul>

