<% if (title) { %>
    <div class="signin_alert_header" data-role="header" data-theme="a">
        <h1><%= title %></h1>
    </div>
<% } %>
<div role="main" class="ui-content">
    <form action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                <p class="login_error hidden error">Incorrect username / email or password</p>
                    <label for="username">Username / Email:</label>
                    <input autocapitalize="off" type="text" name="username" placeholder="Username / Email" data-corners="false"/>
                    <label for="password">Password:</label>
                    <input autocapitalize="off" type="password" name="password" placeholder="Password" data-corners="false"/>
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#" class="close_button" data-role="button" data-corners="false">Cancel</a>
            </div>
            <div class="ui-block-b">
                <a href="#" class="submit_button" data-role="button" data-corners="false">Sign in</a>
            </div>
        </div>
    </form>
    <div class="ui-grid-solo">
        <div class="ui-grid-a">
            <a class="signup_button" data-theme="c" data-role="button" data-corners="false">Sign Up</a>
        </div>
    </div>
</div>
