.back.ui-btn-icon-top:after {
	position: fixed;
	left: 5px;
	background-color: #0D9CAC;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0;
	background-size: 30px 30px;
	margin: 0 0 0 0;
	height: 30px;
	width: 30px;
	z-index: 1002;
}