/*.back:after {
	position: fixed;
	left: 5px;
	top: 0;
	background-color: #0D9CAC;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0;
	background-size: 30px 30px;
	margin: 0 0 0 -7%;
	padding: 9px 15% 9px 0px;
	height: 30px;
	width: 30px;
	z-index: 1000;
}

.cmntyex-contest img {
	max-width: 280px;
}

.new_review_button:after {
	position: fixed;
	left: 80%;
	top: 0;
	background-color: #0D9CAC;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0;
	background-size: 30px 30px;
	margin: 0 -7% 0 0;
	padding: 10px 15% 10px 20px;
	height: 30px;
	width: 30px;
	z-index: 1000;
}
*/