
body{
	background: url("https://communitylive.co/apptsvc/static/communityexpress/chalkboards/chalkboards_blank.jpg");
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.saslName {
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 600;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #000;
	color: #FFF;
}

.mediatile {
	 background-color: rgba(0, 0, 0, 0.5);
}

.mediatileBlock table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0px;
	border-color: yellow;
}
.mediatileBlock  .type {
	padding: 5px;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.2;
	font-variant: small-caps;
	font-size: 10px;
	font-style: italic;
	font-weight: 200;
	text-align: center;
}
.mediatileBlock .title {
	padding-top: 5px;
	padding-left: 5px;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.mediatileBlock img {
	width: 100%;
	height: auto;
}

.mediatileBlock .message {
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	padding: 5px;
}

.shareBlock {
	text-align: center;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	padding: 5px;
	font-style: italic;
	width: 100%; 
}

.shareBlock img {
	width: 80%;
	padding: 5px;
	height: auto;
}

.driveCallBlock {
	text-align: center;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	padding: 5px;
	font-style: italic;
	width: 100%; 
}

.driveCallBlock img {
	width: 40%;
	padding: 5px;
	height: auto;
}

.tileviewdetails_gap{
	height:20px;
}
