<nav class="navbar navbar-default header">
    <div class="container-fluid">

        <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 p-r-0">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="#"><img class="img-responsive" src="img/pree.png" alt=""></a> -->
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="images/church-bell.png" alt="">
                            <span class="menuItemText">Notifications</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <% if (!user.getUID()) { %>
                            <a href="#" class="signin-button p-r-0">
                                <span>Sign in</span>
                                <img src="images/Sign_in.png" alt="">
                            </a>
                        <% } else { %>
                            <a href="#" class="dropdown-toggle signedin p-r-0" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span><%= user.userName %></span>
                                <img src="images/Sign_out.png" alt="">
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Questions</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Privacy & Terms</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="signout-button" href="#">Sign out</a></li>
                            </ul>
                        <% } %>
                    </li>
                </ul>
            </div>

        </div>

    </div>

</nav>
<div class="info-region"></div>
<div class="popup-region"></div>
