<div class="panel_header">
    <h2>My Reservations</h2>
    <a href="settings" class="close-panel-button link" data-role="button" data-icon="arrow-l" data-iconpos="notext" ></a>
</div>

<p class="no_items_message hidden">You don't have any reservations</p>

<ul data-role="listview" ></ul>
