<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
<div role="main" class="ui-content">
    <form action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset class="auth_fieldset" data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                  <!--  <label for="username">Username:</label>
                    <input type="text" autocapitalize="off" name="username" data-corners="false" />
                  -->
                    <label for="email">Email:</label>
                    <input type="email" autocapitalize="off" name="email" data-corners="false" />
                    <p class="signup_email_error hidden error">Please, enter a valid email</p>
                    <label for="password">Password:</label>
                    <input type="password" autocapitalize="off" name="password" data-corners="false" />
                    <label for="password_confirmation">Password Confirmation:</label>
                    <input type="password" autocapitalize="off" name="password_confirmation" data-corners="false" />
                    <p class="signup_password_error hidden error">Password does not match the confirm password</p>
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <a href="#" class="submit_signup" data-role="button" data-corners="true">Create Account</a>
            </div>
        </div>
    </form>
</div>
