<!-- <a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a> -->
<div role="main" class="ui-content cmntyex_text_message">
    <%= text %>
</div>
<div class="ui-grid-solo">
    <div class="ui-block-a">
        <a href="#" class="confirmation_button" data-role="button" data-corners="false" >OK</a>
    </div>
</div>
