<div data-role="header" data-position="fixed">
        <div data-role="navbar" >
            <ul>
                <li class="cmntyex-header_logo">
                    <a data-icon="cmntyex_back" class="cmntyex-simple-header-back back ui-nodisc-icon"></a>
                    <img src="data:image/png;base64,{{saslNameIcon}}" />
                </li>
            </ul>
        </div>
    <div data-role="navbar">
        <ul>
            <li>
                <a>{{title}}</a>
            </li>
        </ul>
    </div>
</div>
