<div data-role="header" data-position="fixed">
    <% if (!back) { %>
        <div data-role="navbar" >
            <ul>
                <li class="cmntyex-header_logo">
                    <img src="data:image/png;base64,<%= saslNameIcon %>" />
                </li>
            </ul>
        </div>
    <% } else { %>
        <div class="cmntyex-logo_header" >
            <div class="cmntyex-logo_header_back">
                <a class="back cmntyex-icon-big ui-icon-cmntyex_back ui-nodisc-icon"></a>
            </div>
            <div class="cmntyex-logo_header_image">
                <img src="data:image/png;base64,<%= saslNameIcon %>" />
            </div>
        </div>
    <% } %>
    <div data-role="navbar">
        <ul>
            <li>
                <a data-icon="bars" class="options_button ui-nodisc-icon"></a>
            </li>
            <li>
                <a data-icon="contest" class="contest_button ui-nodisc-icon"></a>
            </li>
            <li>
                <div class="deals_button"></div>
            </li>
            <li>
                <div class="about_us_button"></div>
            </li>
            <li>
                <div class="sign_in_button"></div>
            </li>
        </ul>
    </div>
</div>
