<a href="" class="ui-btn">
    <h3 class="business_item_name" style="margin-right: 3%;"><%= name %></h3>
    <h3 class="business_item_distance" class="right" style="display:inline-block;"><%= distanceInMiles %></h3>
    <img class="business_item_marker" src="<%= markerURL %>" style="display:inline-block;">
</a>
