<a href="">
	<div class="ui-grid-a business_container">
		<div class="ui-block-a business_item_name" style=""><%= name %></div>
		<div class="ui-block-b business_item_distance"><%= distanceInMiles %><img class="business_item_marker" src="<%= markerURL %>"></div>
	</div>
</a>
