<select name="select-choice" class="choose-filter"  id="select-choice">
	<option>Category</option>
    <% _(filters).each(function (filter) { %>
        <option class="tiles_filter"><%= filter.displayText %></option>
    <% }) %>
</select>