$font-main: 'Prompt', sans-serif;

$size-xs: 10px;
$size-small: 11px;
$size-normal-strong: 13px;
$size-normal: 14px;
$size-lg-normal: 16px;
$size-sm-medium: 18px;
$size-medium: 20px;
$size-title: 36px;
$size-slider: 50px;

$style-normal: normal;
$style-bold: bold;
$style-italic: italic;

$line-normal: 24px;
$line-h3: 22px;
$line-h2: 26px;
$line-h1: 36px;
$line-xs: 10px;
