<div class="tags-container">
	<div class="js-input-region"></div>
	<div class="js-tags-region"></div>
	<div class="go-buttons-container">
		<button type="button" class="btn btn-primary go-button">Go</button>
	</div>
</div>