<div class="tags-container">
	<div class="pree_tagsHeader">
		<span class="panelHeaderTitle">Please choose <% if (type === 'tags') { %>tags<% } else { %>categories<% } %> below</span>
		<span
			class="pree_tags_close"
			data-toggle="collapse"
			data-target="#tags-filter-expanded"
			aria-expanded="false"
			aria-controls="tags-filter-expanded">&#x25BC;</span>
	</div>
	<div id="tags-filter-expanded" class="collapse">
		<div class="js-input-region"></div>
		<div class="js-tags-region"></div>
		<div class="go-buttons-container">
			<button type="button" class="btn btn-primary go-button">Go</button>
			<button type="button" class="btn btn-primary discard-button">Discard</button>
		</div>
	</div>
</div>
