<div id="pree_feed_tabs">
    <ul class="list-unstyled pree_feed_tabs_items" id="pree_feed_tabs_items">
        <li data-filtertype="TRENDING">
            <a class="active">Default</a>
        </li>
        <!-- <li data-filtertype="FOLLOWING">
            <a >Following</a>
        </li> -->
        <li data-filtertype="CATEGORIES">
            <a >Topics</a>
        </li>
        <li data-filtertype="TAGS">
            <a >Tags</a>
        </li>
        <li data-filtertype="TRENDING">
            <div class="followingStat">
                <a class="refresh-feed"><span class="glyphicon glyphicon-refresh"></span></a>
            </div>
        </li>
    </ul>
</div>
<div class="filter-expanded">
    <div class="js-select-tags-region"></div>
</div>
