<div id="pree_feed_tabs">
    <ul class="list-unstyled pree_feed_tabs_items" id="pree_feed_tabs_items">
        <li data-filtertype="TRENDING">
            <a class="active">Trending</a>
        </li>
        <li data-filtertype="FOLLOWING">
            <a >Following</a>
        </li>
        <li data-filtertype="CATEGORIES">
            <a >Topics</a>
        </li>
        <li data-filtertype="TAGS">
            <a >Tags</a>
        </li>
    </ul>
</div>
<div class="filter-expanded">
    <div class="js-select-tags-region"></div>
</div>
