<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header text_alert_header">
            <button type="button" class="close ok_button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <h4 class="modal-title">Sign out</h4> -->
        </div>
        <div class="modal-body">
            <p><%= text %></p>
        </div>
      <div class="modal-footer">
          <a href="#" class="btn btn-default ok_button">OK</a>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
