@import 'base/colors';
@import 'components/loader';
@import 'components/questions';
@import 'components/questionDetailed';
@import 'components/filters';
@import 'components/tagsFilter';
@import 'components/header';
@import 'components/infoPanel';
@import 'components/rightPanel';
@import 'components/createQuestion';
@import 'components/signIn';
@import 'components/signUp';
@import 'components/shareQuestion';

body {
	margin: 0;
	padding: 0;
}
