@import 'base/colors';
@import 'base/helpers';
@import 'base/typography';
@import 'components/loader';
@import 'components/questions';
@import 'components/questionDetailed';
@import 'components/filters';
@import 'components/tagsFilter';
@import 'components/header';
@import 'components/infoPanel';
@import 'components/rightPanel';
@import 'components/createQuestion';
@import 'components/signIn';
@import 'components/signUp';
@import 'components/shareQuestion';
@import 'components/userInfo';
@import 'components/contact';
@import 'components/centralRegion';
@import 'components/leftPanel';
@import 'components/autocomplete';

@font-face {
  font-family: 'Promt', sans-serif;
  src: url('https://fonts.google.com/specimen/Prompt?selection.family=Prompt');
  font-weight: 400;
  font-style: normal;
}

html,body {
	width: 100%;
	height: 100%;
	background-color: $light-grey!important;
	margin: 0;
	padding: 0;

	.app-container {
		height: 100%;
	}

    .error {
        display: none;
        color: $red;
    }
}
