@import 'base/colors';
@import 'base/helpers';
@import 'components/loader';
@import 'components/questions';
@import 'components/questionDetailed';
@import 'components/filters';
@import 'components/tagsFilter';
@import 'components/header';
@import 'components/infoPanel';
@import 'components/rightPanel';
@import 'components/createQuestion';
@import 'components/signIn';
@import 'components/signUp';
@import 'components/shareQuestion';
@import 'components/userInfo';
@import 'components/contact';

body {
	background-color: $light-grey!important;
	margin: 0;
	padding: 0;
}
