body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar.navbar-default.header {
    background-color: #f5f5f5;
    margin-bottom: 0;
    padding-bottom: 2px;
    border: none;
}

.dropdown-menu {
    margin-top: 6px;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: calc(50% - 4px);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd;
    border-left: 7px solid transparent;
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: calc(50% - 3px);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}

.navbar-brand {
    padding: 0!important;
}

.navbar-brand img {
    height: 50px;
}

.menuItemText {
    color: #777;
    font-style: normal;
    font-weight:400;
    font-size: 14px;
    font-family: 'Open Sans';
    position: relative;
    top: 1px;
}

.menuItemText.last {
    margin-right: 0px;
}

.headerUserAvatar {
    position: relative;
    height: 46px;
    width: 46px;
}

.nav.navbar-nav.navbar-right .dropdown .signin_button {
    padding: 2px 15px;
    padding-right: 0;
}

.nav.navbar-nav.navbar-right .dropdown .notification_button {
    padding: 10px 15px;
}

.signin_image {
    height: 46px;
    padding-right: 10px;
}

.dropdown-toggle.last {
    padding-bottom: 0px;
    padding-top: 3px;
}

.infoPanel {
    background-color: #388e3c;
    height: 50px;
    margin-bottom: 20px;
}

.infoPanel .nav.navbar-nav .navigation-link {
    display: inline-block;
    vertical-align: middle;
}

.infoPanel .nav.navbar-nav .create_question_btn,
.infoPanel .nav.navbar-nav .refresh_button {
    float: right;
}

.nav.navbar-nav .navigation-link button {
    margin: 0;
    border: 0;
    color: #fff;
}

.nav.navbar-nav .navigation-link button:hover,
.nav.navbar-nav .navigation-link button:focus {
    background-color: transparent;
    color: #333;
}

.infoPanel>div>.nav.navbar-nav {
    width: 100%;
    margin: 0;
}

.nav.navbar-nav .navigation-link a {
    color: #fff;
}

.collapsed-links li {
    margin: 0 10px;
}

.main_content {
    padding-top: 117px;
    height: 100%;
}

.createQuestionBtn {
    height: 42px;
    background-color: #fff;
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    line-height: 42px;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.createQuestionText,
.inviteToPreeText {
    color: #999;
    font-style: normal;
    font-weight:400;
    font-size:11px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .infoPanel {
        height: 40px;
    }

    .infoPanel>div>.nav.navbar-nav {
        position: relative;
    }

    .infoPanel .nav.navbar-nav .filters-link {
        position: static;
    }

    .infoPanel .nav.navbar-nav .filters-link .collapsed-filters {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background-color: #388e3c;
    }

    .collapsed-filters .collapsed-links li {
        display: inline-block;
        margin: 0;
    }


}

@media only screen and (max-width: 991px) {
    .rightPanel,
    .leftPanel {
        display: none;
    }
}
