
body{
	background: url("https://communitylive.co/apptsvc/static/communityexpress/chalkboards/chalkboards_blank.jpg");
	background-repeat:repeat;
	background-size: 100% 100%;
	background-color: rgba(0, 255, 0, 0.5);
	 
}

#cmtyx_landingView{ 
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow:none;
}

.mediatile {
	 
}

.mediatileBlock table {
	display: table;
	border-collapse: collapse;
	border-spacing: 0px;
	border-color: yellow;
}
.mediatileBlock  .type {
	padding: 5px;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.2;
	font-variant: small-caps;
	font-size: 10px;
	font-style: italic;
	font-weight: 200;
	text-align: center;
}
.mediatileBlock .title {
	padding-top: 5px;
	padding-left: 5px;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1;
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.mediatileBlock img {
	width: 100%;
	height: auto;
}

.mediatileBlock .message {
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	padding: 5px;
}

.shareBlock {
	text-align: center;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	padding: 5px;
	font-style: italic;
	width: 100%; 
	 
}

.shareBlock img {
	width: 80%;
	padding: 5px;
	height: auto;
}

.driveCallBlock {
	text-align: center;
	color: #FFF;
	font-family: 'open sans', arial, sans-serif;
	line-height: 1.1;
	font-size: 12px;
	font-weight: 400;
	padding: 5px;
	font-style: italic;
	width: 100%; 
	 
}

.driveCallBlock img {
	width: 40%;
	padding: 5px;
	height: auto;
}

.tileviewdetails_gap{
	height:20px;
}

.content {
	padding: 0;
}

.cmntyex-tile_list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tile_item,
.cmntyex-tiles_placeholder {
	position: relative;
	font-size: 55%;
	text-shadow: none;
}

.tile_left {
	width: 100%;
}

.tile_name {
	position: absolute;
	background-color: #000;
	color: #fff;
	padding: 10px;
	margin: 0px;
	left: 25%;
	top: 0;
	text-align: center;
	width: 50%;
	opacity: 0.7;
}

.tile_rating {
	position: absolute;
	left: 10px;
	bottom: 25px;
}

.tile_type {
	position: absolute;
	left: 20px;
	bottom: 40px;
	padding: 10px;
	margin: 0;
	color: #ec8009;
}

.tile_image {
	width: 100%;
}

.tile_right {
	border: 1px solid #333;
	border-radius: 2px;
	color: #fff;
    background-color: #000;
    padding: 0 10px;
    width: 50%;
    min-width: 150px;
    position: absolute;
    bottom: 15px;
    opacity: 0.7;
    right: 0;
}

.shareButtons>div {
	display: inline-block;
	margin: 20px;
}
