
body{
    background: url("https://communitylive.co/apptsvc/static/communityexpress/chalkboards/chalkboards_blank.jpg");
    background-repeat:repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 255, 0, 0.5);
     
}

#cmtyx_landingView{ 
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow:none;
}

.mediatile {
     
}

.mediatileBlock table {
    display: table;
    border-collapse: collapse;
    border-spacing: 0px;
    border-color: yellow;
}
.mediatileBlock  .type {
    padding: 5px;
    color: #FFF;
    font-family: 'open sans', arial, sans-serif;
    line-height: 1.2;
    font-variant: small-caps;
    font-size: 10px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
}
.mediatileBlock .title {
    padding-top: 5px;
    padding-left: 5px;
    color: #FFF;
    font-family: 'open sans', arial, sans-serif;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.mediatileBlock img {
    width: 100%;
    height: auto;
}

.mediatileBlock .message {
    color: #FFF;
    font-family: 'open sans', arial, sans-serif;
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
}

.shareBlock {
    text-align: center;
    color: #FFF;
    font-family: 'open sans', arial, sans-serif;
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    font-style: italic;
    width: 100%; 
     
}

.shareBlock img {
    width: 80%;
    padding: 5px;
    height: auto;
}

.driveCallBlock {
    text-align: center;
    color: #FFF;
    font-family: 'open sans', arial, sans-serif;
    line-height: 1.1;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    font-style: italic;
    width: 100%; 
    height: 90px;
     
}

.driveCallBlock img {
    width: 40%;
    padding: 5px;
    height: auto;
}

.tileviewdetails_gap{
    height:20px;
}

.content {
    padding: 0;
}

.cmntyex-tile_list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cmntyex_sasl_tile,
.cmntyex-tiles_placeholder {
    position: relative;
    text-shadow: none;
}

.tile_item a {
    text-decoration: none;
}

.tile_left {
    width: 100%;
}

.tile_marker {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.tile_type {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    color: #fff;
    margin: 0;
}

.tile_type div {
    float: left;
    margin-top: -15px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
}

.DISCOUNT {
    background: url('icons/DISCOUNT.png') no-repeat top left;
}

.NOTIFICATION {
    background: url('icons/NOTIFICATION.png') no-repeat top left;
}

.DINING_DEAL {
    background: url('icons/DINING_DEAL.png') no-repeat top left;
}

.ACTIVITY {
    background: url('icons/ACTIVITY.png') no-repeat top left;
}

.ENTERTAINMENT {
    background: url('icons/ENTERTAINMENT.png') no-repeat top left;
}

.HAPPYHOUR {
    background: url('icons/HAPPYHOUR.png') no-repeat top left;
}

.CAMPAIGN_PROMOTION {
    background: url('icons/CAMPAIGN_PROMOTION.png') no-repeat top left;
}

.AD_ALERT {
    background: url('icons/AD_ALERT.png') no-repeat top left;
}

.OTHER {
    background: url('icons/OTHER.png') no-repeat top left;
}

.tile_image {
    width: 100%;
}

.tile_right,
.create_promotion,
.more_detailes,
.tile_name {
    color: #fff;
    background-color: rgba(0,0,0,.5);
    padding: 0 10px;
    position: absolute;
}

.tile_title,
.tile_message {
    margin: 10px 0;
}

.tile_name {
    padding: 10px;
    margin: 0px;
    min-width: 150px;
    left: 25%;
    top: 0;
    text-align: center;
}

.tile_right {
    width: 65%;
    min-width: 150px;
    bottom: 5px;
    right: 0;
}

.create_promotion {
    top: 40px;
    right: 0;
}

.more_detailes {
    top: 50px;
    left: 0;
}

.tile_adAlert {
    background: url('icons/newsflash_320X140.jpg');
    width: 100%;
    height: 140px;
}

.tile_adAlert_message {
    font-size: 200%;
    text-shadow: none;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.shareButtons {
    margin-top: -45px;
    padding: 5px;
}

.shareButtons>div {
    display: inline-block;
    margin: 5px;
}

.textBlock {
    padding: 10px;
}

.tileviewdetails_location,
.tileviewdetails_phone {
    display: inline-block;
    width: 50%;
    padding: 10px;
}

.location_title,
.phone_title {
    color: #999;
    font-style: italic;
}

#cmntyex_business .ui-content {
    margin-bottom: 10px;
}

.business_container {
    background-color: #333;
    padding: 10px;
    border-top: 1px solid black;
    color: white;
}

.business_item_name,
.business_item_distance {
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 10px;
}

.business_item_distance {
    text-align: center;
}

.business_title_name,
.business_title_distance {
    text-align: left;
    padding: 10px;
    background-color: transparent!important;
}

.business_item_marker {
    float: right;
    padding-right: 20px;
    margin-top: -6px;
}

.cmntyex-business_location,
.cmntyex-business_phone {
    padding: 20px 20px 10px;
    display: inline-block;
    float: left;
    width: 50%;
}

#sasldetails_drivebutton,
#sasldetails_callbutton {
    float: right;
    margin-right: 10%;
    zoom: .7;
}

.city_selector {
    position: absolute;
    top: 0;
    left: 5px;
}

.filter_selector {
    position: absolute;
    top: 0;
    right: 5px;
    width: 75px;
}

.choose-city,
.choose-filter {
    height: 50px;
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.choose-city {
    width: 45%;
}

.choose-city:focus,
.choose-filter:focus {
    outline: none;
}

.choose-city option,
.choose-filter option {
    background-color: #333;
}

.chalkboards_icon {
    background: url(icons/ChalkboardsIcon.png) no-repeat top left;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 50%;
}
