.sprite { background: url('sprite.png') no-repeat top left; width: 100px; height: 100px;  } 
.sprite.review_prev { background-position: 0 0; width: 84px; } 
.sprite.search { background-position: 0 -110px; width: 75px; height: 75px; } 
.sprite.Share { background-position: 0 -195px; width: 30px; height: 30px; } 
.sprite.Sign_in1 { background-position: 0 -235px; } 
.sprite.Sign_out1 { background-position: 0 -345px; } 
.sprite.sms_button { background-position: 0 -455px; width: 60px; height: 60px; } 
.sprite.star { background-position: 0 -525px; width: 15px; height: 15px; } 
.sprite.sub_delete { background-position: 0 -550px; width: 46px; height: 51px; } 
.sprite.sub_edit { background-position: 0 -611px; width: 48px; height: 55px; } 
.sprite.thumbs-down { background-position: 0 -676px; width: 357px; height: 574px; } 
.sprite.thumbs-up { background-position: 0 -1260px; width: 60px; height: 60px; } 
.sprite.tiles_view { background-position: 0 -1330px; width: 94px; height: 92px; } 
.sprite.twitter { background-position: 0 -1432px; width: 60px; height: 60px; } 
.sprite.write_review { background-position: 0 -1502px; } 
.sprite.aboutUs { background-position: 0 -1612px; } 
.sprite.arrow_icon { background-position: 0 -1722px; width: 30px; height: 30px; } 
.sprite.Back { background-position: 0 -1762px; width: 30px; height: 30px; } 
.sprite.Back_new { background-position: 0 -1802px; width: 71px; height: 85px; } 
.sprite.bookmarks-folder-black { background-position: 0 -1897px; width: 256px; height: 256px; } 
.sprite.bookmarks-folder-yellow { background-position: 0 -2163px; width: 128px; height: 128px; } 
.sprite.Deal1 { background-position: 0 -2301px; } 
.sprite.email_button { background-position: 0 -2411px; width: 60px; height: 60px; } 
.sprite.facebook { background-position: 0 -2481px; width: 60px; height: 60px; } 
.sprite.favorite-gray { background-position: 0 -2551px; width: 256px; height: 256px; } 
.sprite.favorite-yellow { background-position: 0 -2817px; width: 48px; height: 48px; } 
.sprite.filter-icon { background-position: 0 -2875px; width: 30px; height: 30px; } 
.sprite.Forward { background-position: 0 -2915px; width: 30px; height: 30px; } 
.sprite.grey-star { background-position: 0 -2955px; width: 15px; height: 15px; } 
.sprite.half-star { background-position: 0 -2980px; width: 15px; height: 15px; } 
.sprite.hamburger_icon { background-position: 0 -3005px; width: 72px; height: 72px; } 
.sprite.list { background-position: 0 -3087px; width: 256px; height: 256px; } 
.sprite.List-of-favorites { background-position: 0 -3353px; width: 30px; height: 30px; } 
.sprite.List-View { background-position: 0 -3393px; width: 30px; height: 30px; } 
.sprite.list-white { background-position: 0 -3433px; width: 256px; height: 256px; } 
.sprite.map_small { background-position: 0 -3699px; } 
.sprite.map-icon-small { background-position: 0 -3809px; width: 87px; height: 55px; } 
.sprite.Menu { background-position: 0 -3874px; width: 30px; height: 30px; } 
.sprite.play { background-position: 0 -3914px; height: 98px; } 
.sprite.Poll-contest1 { background-position: 0 -4022px; } 
.sprite.Promotion { background-position: 0 -4132px; } 
.sprite.review_next { background-position: 0 -4242px; width: 85px; } 

/*
<div class='sprite review_prev'></div>
<div class='sprite search'></div>
<div class='sprite Share'></div>
<div class='sprite Sign_in1'></div>
<div class='sprite Sign_out1'></div>
<div class='sprite sms_button'></div>
<div class='sprite star'></div>
<div class='sprite sub_delete'></div>
<div class='sprite sub_edit'></div>
<div class='sprite thumbs-down'></div>
<div class='sprite thumbs-up'></div>
<div class='sprite tiles_view'></div>
<div class='sprite twitter'></div>
<div class='sprite write_review'></div>
<div class='sprite aboutUs'></div>
<div class='sprite arrow_icon'></div>
<div class='sprite Back'></div>
<div class='sprite Back_new'></div>
<div class='sprite bookmarks-folder-black'></div>
<div class='sprite bookmarks-folder-yellow'></div>
<div class='sprite Deal1'></div>
<div class='sprite email_button'></div>
<div class='sprite facebook'></div>
<div class='sprite favorite-gray'></div>
<div class='sprite favorite-yellow'></div>
<div class='sprite filter-icon'></div>
<div class='sprite Forward'></div>
<div class='sprite grey-star'></div>
<div class='sprite half-star'></div>
<div class='sprite hamburger_icon'></div>
<div class='sprite list'></div>
<div class='sprite List-of-favorites'></div>
<div class='sprite List-View'></div>
<div class='sprite list-white'></div>
<div class='sprite map_small'></div>
<div class='sprite map-icon-small'></div>
<div class='sprite Menu'></div>
<div class='sprite play'></div>
<div class='sprite Poll-contest1'></div>
<div class='sprite Promotion'></div>
<div class='sprite review_next'></div>
*/