<div id="about_us_page" data-role="page" class="page">
	<!-- <div class="sprite_navbar navbutton_back back"></div> -->
	<a class="ui-icon-cmntyex_back back ui-btn-icon-top"></a>
    <div style="margin: -16px" data-role="content" class="content">
        <%= html %>
    </div>
</div>
