<div id="cmntyex_map" data-role="page" class="page">
    <a class="ui-icon-cmntyex_back back ui-btn-icon-top"></a>
    <div data-role="content" class="content">
        <div class="ui-grid-c cmntyex-basket">
            <div class="ui-block-a">
                <span data-icon="cmntyex_edit" class="edit_button icon-cmntyex_edit cmntyex-icon-big"></span>
            </div>
            <div class="ui-block-b">
                <p><span class="num-of-items"><%= basket.count() %></span> Items</p>
            </div>
            <div class="ui-block-c">
                <p>$<span class="total-price"><%= basket.getTotalPrice() %></span></p>
            </div>
            <div class="ui-block-d">
                <button class="order_button cmntyex-basket_order_button">order</button>
            </div>
        </div>
        <div class="cmntyex-items_placeholder">
        </div>
    </div>
</div>
