<div id="cmntyex_chat" data-role="page" class="page">
	<ul>
		<a class="ui-icon-cmntyex_back back ui-btn-icon-top"></a>
		<li><a data-icon="edit" class="new_review_button ui-nodisc-icon" >new rewiew</a></li>
	</ul>
    <div data-role="content" class="content">
        <div class="cmntyex-messages_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
