<div id="cmntyex_contests" data-role="page" class="page">
    <div data-role="content" class="content cmntyex-contest">
        <div class="cmntyex-contest-name"><%=displayText%></div>
        <div class="cmntyex-contest-time">
            <div>Starts from: <%= activationDate %></div>
            <div>To: <%= expirationDate %></div>
        </div>

        <div class="cmntyex_prizes_placeholder"></div>
        <a class="enter_button ui-btn">Enter</a>
    </div>
    <div>
    </div>
    <div class="cmntyex_promotion_fineprint">finePrint</div>
</div>
