<div id="cmntyex_contests" data-role="page" class="page">
	<a class="ui-icon-cmntyex_back back ui-btn-icon-top"></a>
    <div data-role="content" class="content">
        <div class="cmntyex-contests_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
