<div id="cmntyex_contests" data-role="page" class="page">
    <div data-role="content" class="content cmntyex-contest">
        <div class="cmntyex-contest-name"><%= displayText %></div>
        <img src="<%= imageURL %>" alt="Image" />
        <div class="cmntyex-contest-time">
            <div>From: <strong><%= activationDate %></strong></div>
            <div>To: <strong><%= expirationDate %></strong></div>
        </div>

        <div class="cmntyex_options_placeholder cmntyex-polloptions"></div>
        <div class="cmntyex_prizes_placeholder"></div>
    </div>
    <div class="cmntyex_promotion_fineprint">finePrint</div>
</div>
