<div id="cmntyex_restaurant" data-role="page" class="page">
    <a href="#" class="more_button">More</a>
    <div data-role="content" class="content">
        <div class="cmntyex-gallery_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
