<div id="cmntyex_reviews" data-role="page" class="page">
	<ul>
		<li><a class="ui-icon-cmntyex_back back ui-btn-icon-top"></a></li>
		<li><a data-icon="edit" class="ui-icon-cmntyex_review new_review_button ui-btn-icon-top"></a></li>
	</ul>
    <div data-role="content" class="content">
        <div class="cmntyex-reviews_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
