<div id="cmntyex_reviews" data-role="page" class="page">
	<a class="back">BACK</a>
    <div data-role="content" class="content">
        <div class="cmntyex-reviews_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
