<div id="cmntyex_reviews" data-role="page" class="page">
	<ul>
		<li><a class="back">BACK</a></li>
		<li><a data-icon="edit" class="new_review_button ui-nodisc-icon" >new rewiew</a></li>
	</ul>
    <div data-role="content" class="content">
        <div class="cmntyex-reviews_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
