<div id="header-region"></div>
<div id="left-region" class="col-sm-3 col-md-3 col-lg-2 col-lg-offset-1 leftPanel"></div>
<div id="central-region" class="col-sm-12 col-md-6 col-lg-6 central-region"></div>
<div id="right-region" class="col-sm-3 col-md-3 col-lg-2 rightPanel"></div>
