<div id="pree_feed_tabs">
    <ul class="list-unstyled pree_feed_tabs_items" id="pree_feed_tabs_items">
        <li filtertype="TRENDING">
            <a href="#trending" class="active">Trending</a>
        </li>
        <li filtertype="FOLLOWING">
            <a href="#following">Following</a>
        </li>
        <li filtertype="CATEGORIES">
            <a href="#categories">Categories</a>
        </li>
        <li filtertype="TAGS">
            <a href="#tags">Tags</a>
        </li>
    </ul>
</div>
<div class="filter-expanded">
    <div class="js-select-categories-region"></div>
    <div class="js-select-tags-region"></div>
</div>
