<div class="pree_question_tags_title">TAGS</div>
<div class="pree_question_tags_close">X</div>
<div class="pree_question_tags_icon_wrapper">
  <div class="pree_question_tags_icon"></div>
</div>
<div class="pree_question_tags_block">
  <% _(tags).each(function(tag) { %>
    <div class="pree_question_tags_item">
    <%= tag.displayText %>
    </div>
  <% }) %>
</div>