<div class="pree_question_edit">
  <header>
    Create a new Question
    <div class="pree_question_edit_close">X</div>
  </header>
  <section>
    <div class="pree_question_edit_type">
      QUESTION TYPE:
      <span class="pree_question_edit_type_item">
        <input type="checkbox"> FACT
      </span>
      <span class="pree_question_edit_type_item">
        <input type="checkbox"> OPINION
      </span>
      <span class="pree_question_edit_type_item">
        <input type="checkbox"> PREDICTION
      </span>
    </div>
    <div class="pree_question_edit_text">
      <textarea placeholder="Add your question here"></textarea>
      <div class="pree_question_edit_text_photo"></div>
      <div class="pree_question_edit_text_note">nnn remaining characters</div>
    </div>
    <div class="pree_question_edit_answers">
      ANSWERS:
      <div class="pree_question_edit_answers_item">
        <input type="radio" name="answer">
        <input type="text">
      </div>
      <div class="pree_question_edit_answers_item">
        <input type="radio" name="answer">
        <input type="text">
      </div>
      <div class="pree_question_edit_answers_item">
        <input type="radio" checked>
        Select the Correct Answer
      </div>
    </div>
    <div class="pree_question_info">
      <header>
        <span class="pree_question_info_icon"></span>
        <h1>Answer INFO <i>(optional)</i>:</h1>
      </header>
      <section>
        <textarea class="pree_question_info_text"></textarea>
      </section>
      <footer>
        <span class="pree_question_info_footer_label"> Attribution Links <i>(optional)</i>: </span>
        <input class="pree_question_info_link" type="text">
        <span class="pree_question_info_plus">
      </footer>
    </div>
    <div class="pree_question_edit_categories">
      <div class="pree_question_edit_categories_label">
        Categories:
      </div>
      <input type="text">
    </div>
    <div class="pree_question_edit_tags">
      <div class="pree_question_edit_tags_icon_wrapper">
        <div class="pree_question_edit_tags_icon"></div>
      </div>
      <input type="text">
    </div>
  </section>
  <footer>
    <div class="pree_question_edit_share_wrapper">
      <div class="pree_question_edit_share"></div>
    </div>
    <div class="pree_question_edit_buttons">
      <button class="pree_question_edit_save">
        SAVE
      </button>
      <button class="pree_question_edit_save_share">
        <img src="img/share.png">
        <span>Save & Share</span>
      </button>
    </div>
  </footer>
</div>