<div class="pree_question_categories_title">CATEGORIES</div>
<div class="pree_question_categories_close">X</div>
<div class="pree_question_categories_block">
<% _(categories).each(function(category) { %>
  <div class="pree_question_categories_item">
   <%= category.displayText %>
  </div>
<% }) %>
</div>