<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
<div role="main" class="ui-content">
    <form>
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                    <input autocapitalize="off" class="send_email" type="email" name="email_input" placeholder="email" data-corners="false"/>
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <input id="email_send_button" type="submit" value="Send" class="submit_button" data-corners="false">
            </div>
        </div>
    </form>
</div>
