<div class="panel_header">
    <h2>Favorites</h2>
    <button class="close-panel-button" data-rel="close" data-icon="arrow-l" data-iconpos="notext" ></button>
</div>
<ul class="restaurant_list" data-role="listview"  data-icon="false"></ul>
<p class="no_items_message hidden">You don't have any favorites</p>



