<div >
	<select name="select-choice" class="choose-location"  id="select-choice">
        <option>Choose your location</option>
        <option class="current-location" value="current location">current location</option>
    </select>
    <button class="select-location">submit</button>
</div>
<a class="close_button" href="#">close</a>
