<div >
	<select name="select-choice" class="choose-location"  id="select-choice">
        <option>Choose your location</option>
        <% _(locations).each(function (location) { %>
        	<option class="location" lat="<%= location.latitude %>" long="<%= location.longitude %>"><%= location.displayText %></option>
        <% }) %>
    </select>
    <button class="select-location">submit</button>
</div>
<a class="close_button" href="#">close</a>
