<div class="signin_alert_header" data-role="header" data-theme="a">
    <h1>Enter an address</h1>
</div>
<div role="main" class="ui-content">
    <form action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <fieldset data-role="controlgroup" data-corners="false" data-shadows="false" data-theme="c">
                    <label for="city">City:</label>
                    <input type="text" autocapitalize="off" name="city" placeholder="City" data-corners="false" />
                    <label for="street">Street:</label>
                    <input type="text" autocapitalize="off" name="street" placeholder="Street" data-corners="false" />
                    <label for="zip">Zip:</label>
                    <input type="text" autocapitalize="off" name="zip" placeholder="Zip" data-corners="false" />
                </fieldset>
            </div>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-b">
                <input type="submit" value="Go" data-corners="false" />
            </div>
        </div>
    </form>
</div>
