<div role="main" class="ui-content">
    <form class="new_message_form" action="#" method="post">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <div class="cmntyex-rating-placeholder"></div>
            </div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <input type="text" placeholder="reply to email" autocapitalize="off" name="email" data-corners="false" />
                <input type="text" placeholder="subject" autocapitalize="off" name="subject" data-corners="false" />
                <textarea autocapitalize="off" placeholder="Describe the problem" name="description" data-corners="false" />
            </div>
        </div>
        <div class="ui-grid-solo">
            <div class="ui-block-a">
                <a href="#" class="submit_button" data-role="button" data-corners="false">Submit</a>
            </div>
        </div>
    </form>
</div>
