<div role="main" class="ui-content">
    <div class="cmntyx-map_wrapper">
        <div class="cmntyx-map_placeholder"></div>
        <div class="cmntyx-crosshair"></div>
    </div>
    <div class="cmntyx-update_location_form">
        <div class="ui-grid-solo">
            <div class="ui-grid-a">
                <select name="select-status" id="cmntyex_select-business" data-corners="false">
                    <option value="OPEN">Open</option>
                    <option value="CLOSED">Closed</option>
                </select>
            </div>
        </div>
        <div class="promotion_button_group">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="#" class="close_button" data-role="button" data-corners="false">Cancel</a>
                </div>
                <div class="ui-block-b">
                    <a href="#" class="update_button" data-role="button" data-corners="false">Update</a>
                </div>
            </div>
        </div>
    </div>
    <div style="display: none;" class="cmntyx-update_location_confirm">
        <div class="ui-grid-solo">
            <p>Are you sure?</p>
        </div>
        <div class="promotion_button_group">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="#" class="cancel_confirmation" data-role="button" data-corners="false">No</a>
                </div>
                <div class="ui-block-b">
                    <a href="#" class="confirmation_button" data-role="button" data-corners="false">Yes</a>
                </div>
            </div>
        </div>
    </div>
</div>
