<div class="cmntyex-editable_item">
    <div class="ui-grid-solo">
        <div class="ui-grid-a">
            <h3>{{model.getTitle}}</h3>
            <p>{{model.getText}}</p>
            <img src="{{model.getImage}}"/>
            <a class="action" data-theme="c" data-role="button" data-corners="false">{{action}}</a>
        </div>
    </div>
</div>
