<% if (isVisible && isFavorite) { %>
    <a class="favorite_button ui-nodisc-icon ui-link ui-btn ui-icon-cmntyex_favorite_yellow ui-btn-icon-top"></a>
<% } else if (isVisible) { %>
    <a class="favorite_button ui-nodisc-icon ui-link ui-btn ui-icon-cmntyex_favorite_gray ui-btn-icon-top"></a>
<% } %>
