<div class="cmntyex-polloption">
    <div class="cmntyex-polloption-header">
        <span class=""><%= displayText %></span>
        <a class="choose_button ui-btn ui-mini ui-btn-inline">choose</a>
    </div>
    <img src="<%= imageURL %>"></img>
</div>
