<% for (var i = 0; i < 10; i += 2) { %>
    <% if (rating - i == 1) { %>
        <span class="cmntyex-icon-big ui-icon-cmntyex_half_star"></span>
    <% } else if (rating - i > 1) { %>
        <span class="cmntyex-icon-big ui-icon-cmntyex_star"></span>
    <% } else { %>
        <span class="cmntyex-icon-big ui-icon-cmntyex_grey_star"></span>
    <% } %>
<% } %>
