<div class="cmntyex-subcatalog" data-role="collapsible" data-inset="false" data-collapsed="false" class="ui-listview cmntyex-catalog">
    <h3 style="background: {{color}};" class="cmntyex-subcatalog_title">
        {{groupDisplayText}}
    </h3>
    <div class="cmntyex-list_placeholder"></div>
</div>
