<div id="cmntyex_business" data-role="page" class="page" data-theme="b">
	<div class="sprite_navbar navbutton_back back"></div>
    <div data-role="content" class="ui-content">
        <div class="cmntyex-business_placeholder">
            <div class="ui-grid-a">
                <div class="ui-block-a ui-btn ui-btn-inline ui-btn-up-c ui-icon-carat-d ui-btn-icon-right business_title_name" style="">Name</div>
                <div class="ui-block-b ui-btn ui-btn-inline ui-btn-up-c ui-icon-carat-d ui-btn-icon-right business_title_distance">Distance</div>
            </div>
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
