<div id="cmntyex_business" data-role="page" class="page" data-theme="b">
    <div data-role="main" class="ui-content">
        <div class="cmntyex-business_placeholder">
            <div class="ui-grid-c" style="height:55px;">
                <div class="ui-block-a ui-btn ui-icon-carat-d ui-btn-icon-right business_title_name" style="margin-right:5%;width:50%;padding:5px;background-color:transparent;text-align:left;">Name</div>
                <div class="ui-block-b ui-btn ui-icon-carat-d ui-btn-icon-right" style="padding:5px;width:45%;background-color:transparent;text-align:left;">Distance</div>
            </div>
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
