<div id="cmntyex_tile_detailed" data-role="page" class="page">
    <div class="sprite_navbar back_small back"></div>
    <div data-role="content" class="content">
        <div class="cmntyex-tiles_placeholder">
            <div class="cmntyex-content_placeholder">
            	<a href="#" >
                    <div class="cmntyex_sasl_tile">
                        <div class="tile_left">
                            <h2 class="tile_type"><%= tileType.displayText %></h2>
                            <img class="tile_image" src="<%= tileURL %>" >
                        </div>
                        <div class="tile_right">
                            <h2 class="tile_title"><%= tileTitle %></h2>
                            <p class="tile_message"><%= tileMessage %></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <table class="shareBlock">
        <tbody>
            <tr class="shareButtons">
                <td id="tileviewdetails_twitterbutton">
                    <div class="sprite_navbar navbutton_twitter"></div>
                </td>
                <td id="tileviewdetails_smsbutton">
                    <div class="sprite_navbar navbutton_sms_button"></div>
                </td>
                <td id="tileviewdetails_facebookbutton">
                    <div class="sprite_navbar navbutton_facebook"></div>
                </td>
                <td id="tileviewdetails_emailbutton">
                    <div class="sprite_navbar navbutton_email"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="driveCallBlock">
        <tbody>
            <tr class="shareButtons">
                <td colspan="2" id="tileviewdetails_callbutton">
                    <div class="sprite_navbar button12_60_0_0"></div>
                </td>
                <td colspan="2" id="tileviewdetails_drivebutton">
                    <div class="sprite_navbar button12_28_0_0"></div>
                </td></tr>
        </tbody>
    </table>
</div>
