<div id="cmntyex_tile_detailed" data-role="page" class="page">
    <div data-role="content" class="content">
        <div class="cmntyex-tiles_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
