<div id="cmntyex_tile_detailed" data-role="page" class="page">
    <div class="sprite_navbar back_small back"></div>
    <div data-role="content" class="content">
        <div class="cmntyex-tiles_placeholder">
            <div class="cmntyex-content_placeholder">
            	<a href="#" >
                    <div class="cmntyex_sasl_tile">
                        <div class="tile_left">
                            <h2 class="tile_type"><%= tileType.displayText %></h2>
                            <img class="tile_image" src="<%= tileURL %>" >
                        </div>
                        <div class="tile_right">
                            <h2 class="tile_title"><%= tileTitle %></h2>
                            <p class="tile_message"><%= tileMessage %></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <table class="shareBlock"><tbody><tr class="shareButtons"><td id="tileviewdetails_twitterbutton"><img class="" src="https://communitylive.co/apptsvc/static/communityexpress/chalkboards/button_twitter.png"></td><td id="tileviewdetails_smsbutton"><img class="" src="https://communitylive.co/apptsvc/static/communityexpress/chalkboards/button_sms.png"></td><td id="tileviewdetails_facebookbutton"><img class="" src="https://communitylive.co/apptsvc/static/communityexpress/chalkboards/button_facebook.png"></td><td id="tileviewdetails_emailbutton"><img class="" src="https://communitylive.co/apptsvc/static/communityexpress/chalkboards/button_email.png"></td></tr></tbody></table>
    <table class="driveCallBlock"><tbody><tr class="shareButtons"><td colspan="2" id="tileviewdetails_callbutton"><img class="" src="https://communitylive.co/apptsvc/static/communityexpress/chalkboards/button_call.png"></td><td colspan="2" id="tileviewdetails_drivebutton"><img class="" src="https://communitylive.co/apptsvc/static/communityexpress/chalkboards/button_drive.png"></td></tr></tbody></table>
</div>
