.central-region {
    overflow: hidden;
    height: 100%!important;

    .container-fluid {
        height: 100%;

        .central-scrolling {
            height: 100%;

            .questions-region {
                position: relative;
                height: 100%;

                .pree_feed_questions {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: auto;
                    bottom: 0;
                    // width: calc(100% + 15px);
                }
            }
        }
    }
}
