.pree_question_edit {
    background-color: $white;
    margin-bottom: 15px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid $input;

    .modal-header {
        height: 40px;
        background-color: $main;
        border: 1px solid $main;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .pree_question_edit_close {
        color: $white;
        text-shadow: none;
        opacity: .8;
        line-height: 10px;
        outline: none;

        &:hover {
            color: $white;
        }
    }

    .modal_header_title {
        color: $white;
        font: 400 12px / 12px Ubuntu;
    }

    .modal-body {
        padding: 15px 20px 0px 20px;
    }

    .pree_question_info + .row {
        margin-bottom: 10px;
    }

    .pree_question_is_anonymous {
        color: $text;
        font: 400 11px / 15px Ubuntu;
        .pree_question_is_anonymous_item {
            display: inline-block;
            margin-left: 18px;
            color: $text-hover;
            font: 400 11px Ubuntu;
            input[type=checkbox] {
                display: inline-block;
                background: url(images/checkbox.png) no-repeat 0;
                line-height: 24px;
            }
        }
    }
    .pree_question_edit_type {
        display: inline-block;
        color: $text;
        font: 400 11px / 15px Ubuntu;
    }

    .pree_question_edit_type_item {
        display: inline-block;
        margin-left: 15px;
        color: $text-hover;
        font: 400 11px Ubuntu;
    }

    input[type=checkbox]:not(old) {
        height: 12px;
        width: 15px;
        margin-right: 15px;
        padding: 0;
        opacity: 0;
    }

    input[type=checkbox]:not(old) + span {
        display: inline-block;
        margin-left: -28px;
        padding-left: 20px;
        background: url(images/checkbox.png) no-repeat 0;
        line-height: 24px;
    }

    input[type=checkbox]:not(old):checked + span {
        background: url(images/checkbox_active.png) no-repeat 0;
    }

    .prediction-details {
        display: none;
    }

    .panel-heading {
        border-bottom: none;
        background-color: $light-grey;
    }

    .panel-body {
        padding-top: 0;
        background-color: $light-grey;
        .bootstrap-datetimepicker-widget {
            i.glyphicon {
                color: $main;
            }
            button {
                background-color: $main;
            }
            td.day.active {
                background-color: $main;
            }
            td.today::before {
                border-bottom-color: $main;
            }
            span.active {
                background-color: $main;
            }
            span.timepicker-text {
                font-size: 20px;
            }
        }
    }

    .panel-default {
        margin-bottom: 10px;
    }

    .collapseBtn {
        float: right;
    }

    a.panelTitle {
        text-decoration: none;
        color: $text;
        font: 400 11px / 15px Ubuntu;
    }

    .expiration-date {
        text-decoration: none;
        color: $text-hover;
        font: 400 10px / 15px Ubuntu;
    }

    .form-control.datetimepicker {
        height: 20px;
        background-color: $light-grey;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        transition: none;
        border-bottom: 1px solid $text-hover;
        padding-left: 0;
        padding-bottom: 0;
        position: relative;
        bottom: 3px;
    }

    .form-control.datetimepicker:focus {
        border-bottom: 1px solid $text;
    }

    textarea {
        resize: none;
    }

    textarea.form-control {
        border: none;
        border-radius: 0px;
        font: 400 11px / 15px Ubuntu;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: $main;
    }

    #textAreaOptionsBlock {
        color: $text-hover;
        font: 400 9px / 20px Ubuntu;
        background-color: $light-grey;
        padding: 5px 10px;
    }

    .pree_question_edit_text {
        border: solid 1px $active;
        border-radius: 2px;
        margin-bottom: 15px;
    }

    #pree_question_edit_text_note {
        float: right;
    }

    .pree_question_edit_text_photo {
        opacity: 0.8;
    }

    .pree_question_edit_text_photo:hover {
        opacity: 1;
        cursor: pointer;
    }

    .pree_question_edit_answers {
        display: block;
        margin-bottom: -5px;
        color: $text;
        font: 400 11px / 15px Ubuntu;
    }

    .answersWordSpan {
        display: inline-block;
        margin-bottom: 5px;
        color: $text;
        font: 400 11px / 15px Ubuntu;
    }

    .inputRadioImg {
        display: inline-block;
        height: 14px;
    }

    input[type="radio"].radioCreateAnswer {
        display: inline-block;
        float: left;
        position: relative;
        bottom: -8px;
    }

    input[type=radio].radioCreateAnswer:not(old) {
        width: 28px;
        margin: 0;
        padding: 0;
        opacity: 0;
    }

    input[type=radio].radioCreateAnswer:not(old) + div.inputRadioImg {
        float: left;
        display: inline-block;
        margin-top: 7px;
        margin-left: -28px;
        padding-left: 20px;
        background: url(images/Ellipse-4.png) no-repeat 0;
        line-height: 24px;
    }

    input[type=radio].radioCreateAnswer:not(old):checked + div.inputRadioImg {
        background: url(images/Ellipse-4-green.png) no-repeat 0;
    }

    .input-group {
        margin-bottom: 10px;
        line-height: 10px;
        height: 10px;
    }

    .input-group.input-group-addon, .input-group .form-control, .form-group .form-control {
        font: 400 11px / 15px Ubuntu;
        height: 30px;
    }

    .selectAnswerText {
        position: relative;
        bottom: 5px;
        color: $text-hover;
        font: 400 9px Ubuntu;
        margin-left: 26px;
    }

    a.addAnswerBtn {
        text-decoration: none;
        float: right;
        color: $text-hover;
        font: 400 9px / 15px Ubuntu;
    }

    .miniPlusBtn {
        margin-right: 5px;
        position: relative;
        bottom: 1px;
    }

    .pree_question_info {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .answerInfoBlock {
        background-color: $white;
        // padding: 10px;
        border: solid 1px $active;
        color: $grey;
        font: 400 11px / 15px Ubuntu;
        .additional-links-container {
            padding: 6px 12px;
            .remove-link {
                margin-left: 5px;
                cursor: pointer;
            }
        }
    }

    .createQuestionInputs{
        .row {
            margin-bottom: 10px;
        }
    }

    .pree_question_edit_atribution_link .input-group, .pree_question_edit_categories .form-control, .pree_question_edit_tags .form-control {
        // float: right;
        // max-width: 90%;
    }

    .pree_question_edit_categories_label,
    .pree_question_edit_tags_label,
    .pree_question_edit_atribution_link_label {
        color: $text;
        font: 400 11px / 30px Ubuntu;
    }

    /* TODO:; temporary quick version, should be fixed */
    .pree_question_edit_tags,
    .pree_question_edit_categories {
        display: inline-block;
        width: 100%;
        margin-bottom: 0!important;
        label {
            float: left;
        }
        .tags-container {
            border: none;
            margin: 0px;
            padding: 0px;
            // ul {
            //     width: 93% !important;
            //     margin-left: 55px;
            //     margin-top: 30px;
            // }
            .js-input-region {
                margin: 0px;
            }
            .js-tags-region {
                margin: 0px;
                .tag-item {
                    margin-top: 5px;
                }
            }
            .ac-container {
                // margin-top: -14px;
                // margin-left: -16px;
                input.autocomplete {
                    max-width: 100%;
                }
            }
        }
    }

    .pree_question_edit_atribution_link, .pree_question_edit_categories, .pree_question_edit_tags {
        /*display: block;*/
        margin-bottom: 5px;
    }

    .bigPlusBtn:hover {
        cursor: pointer;
    }

    .modal-footer {
        border-top: none;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .pree_question_edit_save {
        display: inline-block;
        float: left;
        color: $text-hover;
        font: 400 12px / 12px Ubuntu;
        background-color: $white;
        border-color: $text-hover;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        padding: 8px 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .pree_question_edit_discard {
        display: inline-block;
        float: right;
        background-color: $white;
        padding: 8px 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        color: $text-hover;
        font: 400 12px / 12px Ubuntu;
        position: relative;
        top: 1px;
    }

    .pree_question_edit_post {
        display: inline-block;
        float: right;
        color: $main;
        font: 400 12px / 12px Ubuntu;
        background-color: $white;
        border-color: $main;
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        padding: 8px 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    @media only screen and (max-width: 991px) {
        .form-control.datetimepicker {
            position: relative;
            bottom: 0px;
        }

        .p-l-0 {
            padding-left: 15px;
        }
    }
}
