.pree_feed_tabs_items {
    height: 42px;
    margin-bottom: 15px;

    li {
        a {
            font: 400 14px Ubuntu;
            text-decoration: none;
            display: inline-block;
            float: left;
            color: $text-hover;
            text-align: center;
            border: solid 1px $input;
            width: 25%;
            line-height: 40px;
            height: 42px;
            background-color: $white;

            &:hover {
                color: $text;
                border-bottom: solid 3px $main-hover;
            }
        }

        .active {
            color: $text;
            border-bottom: solid 3px $main;
        }
    }
}
