.info-region {
    .infoPanel {
        background-color: $main;
        height: 44px;
        margin-bottom: 20px;

        .followingStat {
            margin-top: 12px;
            float: right;

            a {
                margin: 0;
                padding: 18px 4px;
                color: $white;

                span {
                    margin-left: 5px;
                }
            }
        }
    }

    // .pree_user_info_panel {
    //     margin-left: 10px;
    // }
    //
    // .pree_user_info_panel_item {
    //     display: inline-block;
    //     float: left;
    //     margin-right: 55px;
    // }
    //
    // .pree_user_info_panel_item.last {
    //     margin-right: 0;
    //     margin-top: 14px;
    //     float: right;
    //     cursor: pointer;
    //
    //     a {
    //         margin: 0;
    //         padding: 18px 4px;
    //         color: $white;
    //
    //         span {
    //             margin-left: 5px;
    //         }
    //     }
    // }
    //
    // .stats:last-child {
    //     margin-right: 0;
    // }
    //
    // .statName {
    //     font: 400 11px / 48px Ubuntu;
    //     color: $white;
    //     text-transform: uppercase;
    //     margin-right: 15px;
    // }
    //
    // .statNumber {
    //     font: 700 13px / 48px Ubuntu;
    //     color: $light-grey;
    //     text-transform: uppercase;
    // }
    //
    // @media only screen and (max-width: 768px) {
    //     .infoPanel
    //     {
    //         display:none;
    //     }
    // }
    //
    // @media only screen and (max-width: 920px) {
    //     .pree_user_info_panel_item {
    //         margin-right: 30px;
    //     }
    // }
}
