.pree_question_detailed {
    border: 1px solid #input;

    input[type="radio"] {
        display: inline-block;
        float: left;
        position: relative;
        bottom: -12px;
    }

    input[type=radio]:not(old){
      width: 28px;
      margin: 0;
      padding: 0;
      opacity: 0;
    }

    input[type=radio]:not(old) + span{
      display: inline-block;
      margin-left: -28px;
      padding-left: 20px;
      background: url(images/Ellipse-4.png) no-repeat 0;
      line-height: 24px;
    }

    input[type=radio]:not(old):checked + span{
        background: url(images/Ellipse-4-green.png) no-repeat 0;
    }

    .informationIcon {
        float: right;
        position: relative;
        top: 7px;
        right: 10px;
    }

    .answerHeader {
        background-color: $main;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        /*text-align: center;*/
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 15px;

        span {
            display: inline-block;
            text-align: center;
            margin-left: 20px;
            margin-right: 10px;
            width: calc(100% - 64px);
        }
    }

    .thanksText {
        display: block;
        color: $white;
/*      font: 700 12px / 12px Ubuntu; */
        font-style: normal;
        font-weight:700;
        font-size: 12px;
        line-height: 12px;
        font-family: 'Open Sans';
        margin-bottom: 5px;
        line-height: 1.3;
    }

    .score {
        display: block;
        color: $input;
    /*  font: 400 10px / 12px Ubuntu; */
        font-style: normal;
        font-weight:400;
        font-size: 10px;
        line-height: 12px;
        font-family: 'Open Sans';
    }

    .answerBody,
    .answerInfoBody {
        background-color: $light-grey;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: 20px;

        .progress {
            height: auto;

            .answerResultLetter {
                min-width: 80px;
                text-align: center;
                color: $text-hover;
      /*        font: 400 12px / 21px Ubuntu; */
                font-style: normal;
                font-weight:400;
                font-size: 12px;
                line-height: 21px;
                font-family: 'Open Sans';
                display: block;
            }
        }
    }

    .answerBody {
        .answerBar {
            display: inline-block;
            float: right;
            height: 100px;
            width: 45%;
        }

        .resultsData {
            display: inline-block;
            width: 45%;

            div {
                p {
                    display: inline-block;
                }

                p:first-child {
                    width: 50px;
                }
            }
        }
    }

    .resultsText {
        color: $text;
/*      font: 400 14px / 21px Ubuntu; */
        font-style: normal;
        font-weight:400;
        font-size: 14px;
        line-height: 21px;
        font-family: 'Open Sans';
        margin-bottom: 5px;
    }

    .answerInfoHeader {
        background-color: $main;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding: 20px;
        margin-top: 15px;
    }

    .answerInfoHeaderTitle {
        display: block;
        color: $white;
    /*  font: 700 12px / 12px Ubuntu; */
        font-style: normal;
        font-weight:700;
        font-size: 12px;
        line-height: 12px;
        font-family: 'Open Sans';
    }

    .answerInfoText {
        color: $text-hover;
/*     font: 400 10px / 15px Ubuntu; */
        font-style: normal;
        font-weight:400;
        font-size: 10px;
        line-height: 15px;
        font-family: 'Open Sans';
    }

    .answerInfoText.last {
        margin-bottom: 0px;
    }
}
