ul {
    list-style: none;
    padding: 0;
}

.p-r-15 {
    padding-right: 15px;
}

.createQuestionBtn,
.inviteToPreeBtn {
    height: 42px;
    background-color: $white;
    border-color: $input;
    border-style: solid;
    border-width: 1px;
    line-height: 42px;
    padding-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.createQuestionText,
.inviteToPreeText {
    color: $grey;
    font: 400 11px Ubuntu;
    text-transform: uppercase;
    margin-left: 10px;
}

.whoToFollowBlock {
    background-color: $white;
    border-color: $input;
    border-style: solid;
    border-width: 1px;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.whoToFollowText {
    color: $grey;
    font: 400 11px Ubuntu;
    text-transform: uppercase;
}

.headerUserBlock {
    position: relative;
    left: 0px;
    bottom: 12px;
/*    height:0px;*/
    display: inline-block;
}

.userAvatar {
    position: relative;
/*    right: 10px;*/
}

.whoToFollowName {
    color: $main;
    font: 400 13px / 15px Ubuntu;
    margin-bottom: 8px;
    display: inline-block;
}

a.followBtn {
    text-decoration: none;
    color: $grey;
    font: 400 10px / 7px Ubuntu;
    border-color: $active;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
}

.whoToFollowInsideBlock {
    position: relative;
    top: 10px;
    width: 110px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.followersNumber {
    color: $light-grey;
    font: 400 12px / 7px Ubuntu;
    background-color: $grey;
    border: solid 1px $grey;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    padding: 7px;
    margin-left: -3px;
    position: relative;
    top: 1px;
    right: 1px;
    border-collapse: collapse;
}

@media only screen and (max-width: 991px) {
    .rightPanel {
        display: none;
    }
}

@media only screen and (max-width: 1391px) {
    .whoToFollowInsideBlock {
        margin-left: 0px;
    }
}
