<!-- <div><%= displayText + ' ' + description %></div> -->
<a href="">
	<div class="ui-grid-a catalog_container" style="padding: 10px;">
		<div class="ui-block-a catalog_menu"><%= displayText %></div>
		<div class="ui-block-b catalog_description"><%= description %></div>
	</div>
</a>