<div class="cmntyex-group cmntyex-catalog ui-listview" data-role="collapsible" data-inset="false" data-collapsed="false">
    <h3 style="background: <%= color %>;" class="cmntyex-group_title">
        <%= groupDisplayText %>
    </h3>
    <div class="cmntyex-list_placeholder"></div>
</div>