<% for (var i = 0; i < 10; i += 2) { %>
    <% if (rating - i == 1) { %>
        <span class="cmntyex-icon-big sprite_navbar half_star"></span>
    <% } else if (rating - i > 1) { %>
        <span class="cmntyex-icon-big sprite_navbar star_small"></span>
    <% } else { %>
        <span class="cmntyex-icon-big sprite_navbar gray_star"></span>
    <% } %>
<% } %>
