<div class="cmntyex-review_title">
    <span class="cmntyex-review_author"><%= userName %></span>
    <% for (var i = 0; i < 10; i += 2) { %>
        <% if (rating - i == 1) { %>
            <span class="cmntyex-icon sprite_navbar half_star"></span>
        <% } else if (rating - i > 1) { %>
            <span class="cmntyex-icon sprite_navbar star_small"></span>
        <% } else { %>
            <span class="cmntyex-icon sprite_navbar gray_star"></span>
        <% } %>
    <% } %>
</div>
<div class="cmntyex-review_text">
    <p><%= text_excerpt %></p>
    <% if ( imageURL ) { %>
        <img src="<%= imageURL %>"></img>
    <% } %>
</div>
