
<div class="cmtyx_roster_catalog_item" style="text-align:center; ">
<table> 
  <tr><td colspan=4>Extras </td></tr>
  <tr><td colspan=3><img width="100%" src="<%=catalog.url%>"></td><td><button class="roster_catalog_item_add_button ui-btn  " catalogId="<%=catalog.catalogId%>" >Add</button></td></tr>
</table>
<div>