<div  style="text-align:center; ">
  <table>
    <tr><td colspan="4"><%=combo.displayText%></td></tr>
    <tr><td colspan="4"><%=combo.price%></td></tr>
    <tr><td colspan="3"><img width="100%" src="<%=combo.url%>"></td>
      <td><button  class="ui-btn ui-btn-b ui-btn-inline ui-shadow ui-corner-all roster_combo_item_add_button" catalogId="<%=combo.catalogId%>" >Add</button></td>
    </tr>
  </table>
  <div>
