<div class="cmtyx_roster_combo_item" style="text-align:center; ">
<table> 
  <tr><td colspan=4><%=combo.displayText%></td></tr>
  <tr><td colspan=4><%=combo.price%></td></tr>
  <tr><td colspan=3><img width="100%" src="<%=combo.url%>"></td><td><button class="roster_combo_item_add_button ui-btn  " catalogId="<%=combo.catalogId%>" >Add</button></td></tr>
</table>
<div>