<div class="cmtyx_roster_catalog_item" style="text-align:center; ">
    <table>
        <tr style="font-weight: 700; text-align: left; font-style: italic; font-size: 18px;">
            <td colspan="1"><%=catalog.displayText%></td>
            <td style="text-align: right; padding-right: 25px;" colspan="4">
            <% if(catalog.price>0){ %>
                 <%=catalog.price%>
            <% }else{ %>

            <% } %>
            </td>
        </tr>
        <tr>
            <td><img width="100%" src="<%=catalog.url%>"></td>
            <td>
                <button class="ui-btn ui-btn-b ui-btn-inline ui-shadow ui-corner-all roster_catalog_item_add_button ui-btn  " catalogId="<%=catalog.catalogId%>">Add</button>
            </td>
        </tr>
    </table>
</div>
