<li class="time_slot_table-time_slot" data-role="fieldcontain">
    <input type="radio" name="timeSlot" id="<%= startTime %>" value="<%= id %>" >
    <label data-corners="false" for="<%= startTime %>"><%= startTime %></label>
</li>
