<div class="row">
    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 logo-img">
        <img src="img/pree.png" class="img-responsive" alt="" />
    </div>
</div>
<div class="row">
  <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-2">
      <a href="#" class="btn btn-default signup-button">Sign up</a>
  </div>
    <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-2">
        <a href="#" class="btn btn-default signin-button">Sign in</a>
    </div>

</div>
<div class="row divider"></div>
<div class="row contact-us-form">
    <div class="col-xs-12">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>Contact Us:</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-10 col-xs-offset-1">
            <form action="#" method="post">
                <label for="username">Name *</label>
                <input class="form-control" type="text" autocapitalize="off" name="name" placeholder="Name" />
                <p class="senderName error">Please, enter your name</p>
                <label for="email">Email Address *</label>
                <input class="form-control" type="text" autocapitalize="off" name="email" placeholder="Email" />
                <p class="replyToEmail error">Please, enter an email address</p>
                <label for="password">Phone</label>
                <input class="form-control" type="text" autocapitalize="off" name="phone" placeholder="Phone" />
                <p class="phoneNumber error">Please, enter your phone number</p>
                <label for="password_confirmation">Company (if applicable)</label>
                <input class="form-control" type="text" autocapitalize="off" name="company" placeholder="Company" />
                <p class="companyName error">Please, enter your company</p>
                <label for="comment">Your Inquiry</label>
                <textarea class="form-control inquiry" rows="5" id="comment"></textarea>
                <p class="description error">Please, enter your inquiry</p>
            </form>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
            <a href="#" class="btn btn-default send-contact-info">Send</a>
        </div>
    </div>
</div>
<div id="popup-region"></div>
