<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header signin_alert_header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Sign up</h4>
        </div>
        <div class="modal-body">
            <form action="#" method="post">
                <label for="username">Username:</label>
                <input class="form-control" type="text" autocapitalize="off" name="username" placeholder="Username" />
                <label for="email">Email:</label>
                <input class="form-control" type="text" autocapitalize="off" name="email" placeholder="Email" />
                <label for="password">Password:</label>
                <input class="form-control" type="password" autocapitalize="off" name="password" placeholder="Password" />
                <label for="password_confirmation">Password Confirmation:</label>
                <input class="form-control" type="password" autocapitalize="off" name="password_confirmation" placeholder="Password Confirmation" />
            </form>
        </div>
      <div class="modal-footer">
          <a href="#" class="btn btn-default close_button">Cancel</a>
          <a class="btn btn-default signup-button">Sign Up</a>
      </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
