<div id="cmntyex_chat" data-role="page" class="page">
	<div class="sprite_navbar navbutton_back back"></div>
	<div class="sprite_navbar navbutton_write_review"></div>
    <div data-role="content" class="content">
        <div class="cmntyex-messages_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
