<div id="cmntyex_contests" data-role="page" class="page">
	<div class="sprite_navbar back_small back"></div>
    <div data-role="content" class="content">
        <div class="cmntyex-contests_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
</div>
