<div id="cmtyx_generatedView" data-role="page" class="page">
    <div class="sprite_navbar navbutton_back back"></div>
    <div data-role="content" class="content">
        <div class="cmntyex-reviews_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
        <div data-corners="false" class="cmntyex-fixed_footer">
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <button style="display: none;" data-corners="false" class="prev" >prev</button>
                </div>
                <div class="ui-block-b">
                </div>
                <div class="ui-block-c">
                    <button style="display: none;" data-corners="false" class="next" >next</button>
                </div>
            </div>
        </div>
    </div>
</div>
