<div style="background-color:#444;color:#EEE; text-shadow:none" id="cmtyx_generatedView" data-role="page" class="page">
  <div class="sprite_navbar navbutton_back back"></div>
  <!--<div style="width: 100%; background-color: rgba(68, 68, 68, 0.3); position: absolute; top: 0px; z-index: 100; height: 130px;">-->
  <div style="color:white;text-shadow:none;top:50px; background-color: rgba(68, 68, 68, 0.9);" data-fullscreen="true" data-position="fixed" data-role="header" data-tap-toggle="false" >
    <table id="cmtyex_roster_cart_summary"  style=" width:100%; margin:0;padding:0; border-collapse: collapse;">
      <tbody>
        <tr  >
          <td>
             <div class="ui-block-a">
               <div class="edit_button sprite_navbar sub_edit"></div>
             </div>
          </td>
          <td>
            <table><tbody>
              <tr>
                <td id="cmtyex_roster_cart_comboCount"   ><%=basket.getComboCount()%> x</td>
                <td   >Combos  </td>
              </tr>
              <tr >
                <td id="cmtyex_roster_cart_nonComboCount"  ><%=basket.getNonComboItemCount()%> x</td>
                <td>Extras</td>
              </tr>
            </tbody></table>
          </td>
          <td style="text-align:right;" ><button style="  font-size:16px;" id="roster_order_button" class="order_button" data-role="button" data-inline="true" data-theme="b" >Order</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="clear:both; position:relative; margin-top:100px; " data-role="content" class="content">

    <div class="cmntyex-items_placeholder">
    </div>
  </div>
</div>
