<div style="background-color:#444;color:#EEE; text-shadow:none" id="cmtyx_generatedView" data-role="page" class="page">
  <div class="sprite_navbar navbutton_back back"></div>
  <div data-role="content" class="content">
    <table id="cmtyex_roster_cart_summary"  style=" width:100%; margin:0;padding:0; border-collapse: collapse;">
      <tbody>
        <tr  >
          <td   > </td>
          <td id="cmtyex_roster_cart_comboCount"   ><%=basket.getComboCount()%> x</td>
          <td   >Combos  </td>
          <td   > </td>
        </tr>
        <tr >
          <td   > </td>
          <td id="cmtyex_roster_cart_nonComboCount"  ><%=basket.getNonComboItemCount()%> x</td>
          <td   >Extras</td>
          <td   > </td>
        </tr>
        <tr style=" margin-top:10px; ">
          <td   ><button data-role="button" data-inline="true" data-theme="b" > &nbsp;Edit</button></td>
          <td   ></td>
          <td   ></td>
          <td   ><button data-role="button" data-inline="true" data-theme="b" >Order</button></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div class="cmntyex-items_placeholder">
    </div>
  </div>
</div>
