<div id="cmntyex_tiles" data-role="page" class="page">
	<a class="ui-icon-cmntyex_back back ui-btn-icon-top"></a>
    <div data-role="content" class="content">
        <div class="cmntyex-gallery_placeholder">
            <div class="cmntyex-content_placeholder"></div>
        </div>
    </div>
    <a class="tileview_button left ui-nodisc-icon" data-theme="b" data-icon="cmntyex_map-bottom" data-iconpos="notext" data-inline="true" data-role="button"></a>
</div>
